:root {
	/*
	--dkColor: #0F1422;
	--Color: #fff;
	--ltColor: #4C5F6B;
	*/
	
	--dkColor: #0F1422;
	--Color: #272c38;
	--ltColor: #3f434e;
	--Text: #cfd0d3;
}

html {
	height: 100%;
}

div.projectList {
	display:inline-block;
	
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

body { 
	/*background-color: var(--dkColor);*/
	font-family: 'Helvetica', sans-serif;	
	font-weight: bold;
	background: linear-gradient(135deg, var(--dkColor) 10%, #000000) no-repeat;
	
	/* bubble */
	margin: 0;
    overflow: hidden;
}

h1 { 
	color: var(--Text); 
	font-size: 48px;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 4px solid;
	padding-left: 10px;
}

p {
	color: var(--Text); 
	margin: 10px;
	text-decoration: none;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.wip {
	color: var(--Text); 
	margin: 10px;
	text-decoration: none;
	font-size: 16px;
	
	position: absolute;
	bottom: 0;
	right: 0;
	
	padding-right: 25px;
	padding-bottom: 25px;
}

a {
	text-decoration: none;
}

a:link {
	color: var(--272c38);
}

a:visited {
	color: var(--272c38);
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
	color: #fff;	
	background-color: var(--Color);
}
