:root {
	--dkColor: #0F1422;
	--Color: #272c38;
	--ltColor: #3f434e;
	--Text: #cfd0d3;
}

.resources {
	background-color: var(--ltColor); 
}

body {
	background-color: var(--dkColor);
}

p {
	font-size: 24px;
	color: var(--Text);
}
