#WorldPropertyTable {
    font-family: "Arial", sans-serif; 
    font-size: 18px; 
    color: white;
    background-color: #2C3E50;
    transition: background-color 2s;
    position: relative;
    align-items: center;
}

.WorldPropertyTable{
    width: 50%;
}

.WorldProperties{
    display: inline-block;
    padding: 1em; 
    background-color: rgba(0, 0, 0, 0.15);
}

.WeatherIcon {
    position: absolute;
    font-size: 48px; 
    top: 0;
    right: 0;
    padding: 10px;
}

.WeatherIcon {
    text-shadow:-2px -2px 0 white, 
                2px -2px 0 white, 
                -2px 2px 0 white, 
                2px 2px 0 white;
}